/**************************************
Side Scrolling Image Bar
Justin McCandless
justinmccandless.com
***************************************/

body
{
	text-align: center;
}

/* Div that holds the scrolling content */
.imagebar_window_slides
{
margin: 0 auto;
position: relative;
width: 2700px;
white-space: nowrap;
overflow: hidden;
}

/* Only what is under this window is visible */
.imagebar_window
{
margin: 0 auto;
position: relative;
height: 227px; width: 900px;
white-space: nowrap;
overflow: hidden;
}

/* Each frame */
.imagebar_window_slide {
	float: left;
}

/* Style for the buttons */
.imagebar_button_left {
	cursor: pointer;
}
.imagebar_button_right {
	cursor: pointer;
}

/* Style for the indicators */
.imagebar_indicators_circle {
	cursor: pointer;
}
