/**************************************
jQuery Open Carousel
Justin McCandless
justinmccandless.com

Demo CSS file
***************************************/

body
{
	text-align: center;
	background: #f1f1f1;
}
#content {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
    .ocarousel_window {
        background: #ffffff;
        height: 180px;
        width: 900px;
        margin: 0 auto;
        padding: 4px;
    }
        .ocarousel_window_slides > div {
            height: 164px;
            margin-right: 4px;
            white-space: normal;
            padding: 8px;
        }
        .ocarousel_window_slides > div > p {
            text-align: left;
        }
        a[data-ocarousel-link] {
            color: #000000;
        }

/*.ocarousel_indicators {
    width: 100%;
}
.ocarousel_indicators svg {
    cursor: pointer;
    height: 50px;
    margin: 0 auto;
    width: 100%;
}
.ocarousel_thumbnails {
    width: 100%;
    text-align: center;
}
.ocarousel_thumbnails img {
    height: 50px;
}
*/

