/**************************************
jQuery Open Carousel
Justin McCandless
justinmccandless.com

Demo CSS file
***************************************/

body
{
    margin: 0;
    text-align: center;
    background: #f1f1f1;
}
#content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* Fullwidth Example */
    .example_fullwidth {
        position: relative;
    }

    .example_fullwidth .ocarousel_window {
        background: #ffffff;
        width: 100%;
        height: 100%;
    }
        a[data-ocarousel-link] {
            color: #000000;
        }

    .example_fullwidth_left {
        position: absolute;
        z-index: 1337;
        left: 0px;
        top: 50%;
        padding: 6px;
        opacity: 0.7;
        background: #ffffff;
    }
    .example_fullwidth_right {
        position: absolute;
        z-index: 1337;
        right: 0px;
        top: 50%;
        padding: 6px;
        opacity: 0.7;
        background: #ffffff;
    }
    .example_fullwidth_bottom {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 50px;
        width: 100%;
        text-align: center;
        z-index: 1337;
    }

